// src/routes/arrendamiento.js
const router = require('express').Router();
const { miArrendamiento, crear, finalizar } = require('../controllers/arrendamientoController');
const { verificarToken, soloArrendatario } = require('../middlewares/auth');

router.get('/mio',   verificarToken, soloArrendatario, miArrendamiento);
router.post('/',     verificarToken, soloArrendatario, crear);
router.delete('/:id',verificarToken, soloArrendatario, finalizar);

module.exports = router;